.App {
  height: 100vh;
  width: 100vw;
  display: block;
  /* background-color: black; */
}

.skills {
  display: flex;
}
nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  z-index: 20;
  width: 100vh;
  font-weight: bold;
  color: white;
  width: 100%;
}
nav li {
  list-style: none;
}
.canvas {
  background: black;
  position: absolute;
}
.canvas2 {
  background: purple;
  position: absolute;
  display: none;
}
